.dataArea {
    padding:0em;
    background-color: #E3E3E380;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin:2em 4em;
    height: 20em;
  }
  
  .dataArea p {
    font-size: 16px;
    color: #333;
    text-align: center;

  }
  .billingContainer {
    display: flex;
    justify-content: space-between;
    margin:2em 8em;

  }
  .billingdataArea{
    padding:0em 2em;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    height: 16em;
    width: 65%;
  }
  .clientList {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .clientList li {
    margin: 0.5em;
  }
  
  .billingDetails {
    text-align: right; 
  }
  