.filterContainer {
    padding:0em 4em;
    margin-top: 3em;
  }
  
  .header {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: .6em;
    color: #333;
  }
  
  .buttons {
    display: flex;
    gap: 10px;
  }
  
  .buttons button {
    padding: .7em 1.2em;
    border: .1px solid #aeb6bf;
    background-color: #fff;
    color: #979797;
    cursor: pointer;
    border-radius: 80px;
    font-size: .8em;
    font-weight: 400;
  }
  
  .buttons button:focus {
    background-color: #fff;
    color: #333333;
    border: 1px solid #333333;

  }
  
  .summarySections {
    display: flex;
    justify-content: space-between;

  }


  
.section {
  border: 2px solid transparent;
  cursor: pointer;
  transition: border-color 0.3s ease;
}




  
  .section p {
    font-size: .8em;
    color: #000;
    margin: 0em;
    font-weight: 500;
  }
  
  .section span {
    font-size: .9em;
    font-weight: bold;
    color: #333;
    margin: 0em;
  }
  .section :hover{
    color: #0D8A23;
  }
  .summarySections :focus{
    color: #0D8A23;
    border-bottom: 1px solid green;

  }
  .dateSelection {
    display: flex;
    align-items: center;
  }
  
  .dateRangeContainer {
    border: 2px solid #ccc;
    padding: .5em;
    border-radius: 8px;
    display: flex;
    gap: 5px;
    align-items: center;
  }

  .dateRangeContainer input{
    border: none;
  }
  

  
  .saveButton {
    padding: 10px 15px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: auto;
  }
  
  .saveButton:hover {
    background-color: #218838;
  }
  